<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assigmentemiliecristiana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssigmentEmilieCristiana">

        <activity
            android:name=".UI.CalendarPage"
            android:exported="false" />
        <activity
            android:name=".UI.Home"
            android:label="AssingmentApp"
            android:icon="@drawable/ic_baseline_account_circle_24"
            android:theme="@style/Theme.AssigmentEmilieCristiana"/>

        <activity
            android:name=".UI.AddAssignment"
            android:label="@string/app_name"
            android:theme="@style/Theme.AssigmentEmilieCristiana"/>

        <activity
            android:name=".UI.ModifiyProfile"
            android:label="@string/app_name"
            android:theme="@style/Theme.AssigmentEmilieCristiana"/>

        <activity
            android:name=".UI.AssignmentDescr"
            android:label="@string/app_name"
            android:theme="@style/Theme.AssigmentEmilieCristiana"/>

        <activity
            android:name=".UI.MyProfile"
            android:label="@string/app_name"
            android:theme="@style/Theme.AssigmentEmilieCristiana"/>

        <activity
            android:name=".UI.Register"
            android:label="@string/app_name"
            android:theme="@style/Theme.AssigmentEmilieCristiana.NoActionBar"/>

        <activity
            android:name=".UI.LoginPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AssigmentEmilieCristiana.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>